p.error {
	display: block;
	border: 1px solid #992222;
	padding: 5px;
	color: #992222;
	font-weight: bold;
}

h3.error {
	color: #992222;
	font-size: 15px;
	margin-top: 0px;
	padding-top: 0px;
}

img {
	border: 0px;
}

table.listing td {
	border-bottom: 1px solid #e1e1e1;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	line-height: 210%;
	padding-right: 10px;
}

input {
	font-family: Helvetica, Arial, sans-serif;
}

input.search {
	font-size: 10px;
}

table.listing input.wide {
	font-size: 11px;
	width: 100%;
}

table.listing th {
	border-bottom: 1px solid #888888;
	font-weight: bold;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	background-color: #ffffff;
	text-align: left;
}

table.listing td.blank {
	border: 0;
	border-top: 0;
}

table.listing span {
	cursor: pointer;
}

table.plain td {
	border: 0;
}

.templateSelectTable
{
	border: 1px solid #666666;
}

div.templateSelect
{
	width: 600px;
	height: 300px;
	background-color: #ededed;
	overflow: auto;
}

div.templatePreview
{
	min-height: 247px;
	width: 150px;
	margin: 0px 15px 15px 0px;
	padding: 5px;
	float: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

div.templateActive
{
	min-height: 247px;
	width: 150px;
	margin: 0px 15px 15px 0px;
	padding: 5px;
	float: left;
	background-color: #c7d3ed;
	border: 1px solid #dddddd;
}
.popupDiv
{
	position: absolute; 
	left: 0px;
	top: 0px;
	padding: 0px;
	height: 100px;
	width: 300px;
	margin: 0;
	border-bottom: 1px solid #000000;
	z-index: 10;
	visibility: hidden; 
}

.popupInnerDiv
{
	margin: 0; 
	padding: 0; 
	background-color: #ffffff; 
	height: 150px; 
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	position: relative;
}

.popupDiv td.white {
	font-size: 12px;
	font-weight: bold;
	background-color: #ffffff;
	border-right: 1px solid #000000;	
	border-left: 1px solid #000000;
}

.popupDiv td.heading {
	background: transparent;
	border: 0;
}

a.black:link {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

a.black:visited {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

a.black:active {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

a.black:hover {
	color: #808080;
}

a.paginator:link, a.paginator:visited, a.paginator:active {
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
	font-size: 15px;
}

span.active_page {
	font-size: 15px;
	color: #c0c0c0;
	font-weight: bold;
}

a.paginator:hover {
	text-decoration: none;
}

.button {
	text-align: center; 
	margin-right: 8px;
	padding-top: 2px;
	width: 70px;
	height: 17px;
	background-color: #000000;
}

.button_2 {
	width: 120px;
}

.button_3 {
		width: 135px;
}

.button_large {
	width: 190px;
}


.button_left {
	text-align: center; 
	margin-right: 8px;
	padding-top: 2px;
	width: 70px;
	height: 17px;
	background-color: #000000;
}

DIV#form_content {
	margin-top: 30px;
	margin-left: 50px;
}

DIV#centercontent{
	margin-top: 100px;
	text-align: center;
}

DIV#msg {
	margin-left: 10px;
	margin-top: 5px;
}

DIV#numpages {
	position: absolute;
	left: 8px;
	margin: 0;
	padding: 0;
	top: 3px;
}

DIV#paginator {
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 4px;
}

DIV#newGroupDiv {
	position: absolute;
}

DIV#editGroupDiv {
	position: absolute;
}

DIV#massadd {
	position: absolute;
	top: 4px;
	right: 45px;
}

DIV#download_link {
	position: absolute;
	top: 0px;
	right: 10px;
}

ul.switchbox
{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.switchbox li
{
	float: left;
	margin: 0 0.15em;
	padding: 0;
	text-align: center
}

ul.switchbox li a
{
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	background-color: #EDEDED;
	color: #4C4C4C;
	text-decoration: none;
	text-align: center;
}

ul.switchbox li a.active
{
	background-color: #000000;
	color: #FFFFFF;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
ul.switchbox li a
{
	float: none
}
/* End IE5-Mac hack */

ul.switchbox li a:hover
{
	background-color: #9C9C9C;
	color: #FFFFFF;
}

ul.switchbox li a.active:hover
{
	background-color: #000000;
	color: #FFFFFF;
}

td.marked {
	background-color: #f5e5e5;
}

.template_text {
	font-family: Arial, Helvetica;
	font-size: 11px;
}

.settings th {
	border-bottom: 1px solid #666666;
	font-size: 13px;
	text-align: left;
}

.settings td {
	border-bottom: 1px solid #dddddd;
}


